/* stylelint-disable selector-class-pattern */
::-webkit-scrollbar {
  width: 6px;
}

/* 滚动条的滑块 */
::-webkit-scrollbar-thumb {
  background-color: #17b3a3;
  border-radius: 3px;
}

/* 修改表格(el-table)的滚动条 */
.el-table__body-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动条的滑块 */
.el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: #17b3a3;
  border-radius: 3px;
}
